* {
	font-family: Courier;
	font-weight: bold;
}

.rfloat {
	float: right;
}

.right-align {
	text-align: right;
}

.center {
	text-align: center;
}

.square {
	width: 75px;
	height: 75px;
	margin: 25px;
	margin: auto;
}
.link {
	font-size: 12px;
	word-wrap: break-word;
}

.color1 {
	background-color:#02b3e4;
}

.color2 {
	background-color:#2d3c49;
}

.color3 {
	background-color:#004cc6
}